/* PRIMARY */
/* #1ee2d9 /* java */
/* #ee4220 /* pomegranate */

/* ACCENT */	


/* GRAYS */
/* #f7978f /* pink */
/* #3dc1c1 /* tealDark */
#333333 /* text */
/* #b0b0b0 /* gray */
/* #f3f3f3  /*light gray */
 #f5fafa; /* bright gray */
/*
other bright grays
#ecf1f1; 
#e8edec;
*/

/* gFont=Lato:100,300,400,700' */


/* New Colors

aqua: #1EE2D9
red: #FF5253
green: #C7F464
teal: #25A9B3
orange: #FF9750
purple: #A14E68
yellow: #FFE05C
navy: #556270

BOx box-shadow: 
-webkit-box-shadow: 4px 4px 3px 0px rgba(211,211,211,0.75);
-moz-box-shadow: 4px 4px 3px 0px rgba(211,211,211,0.75);
box-shadow: 4px 4px 3px 0px rgba(211,211,211,0.75);