@charset 'UTF-8';
/*@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");*/

/*********************************************************************************/
/* NOTES                                                                         */
/*********************************************************************************/



/*********************************************************************************/
/* Basic Elements                                                                */
/*********************************************************************************/
	/*
	section {  /*article 
		margin-bottom: 3em;
		padding: 5em;
		border: 1px solid red;
	}

		section > :last-child, 
		article > :last-child,
		section > .sectWrap > :last-child,
		article > .sectWrap > :last-child {
			margin-bottom: 0;
		}

		section:last-child,
		article:last-child {
			margin-bottom: 0;
		}

		.row > section,
		.row > article {
			margin-bottom: 0;
		}
*/


	/* ---------------------------
		Image */

		.image {
			display: inline-block;
			padding-bottom: 6%;
			border: 0px solid red;
		}

			.image.fit {
				display: block;
				width: 100%;
				margin: 0 auto;
			}
			
			.image.featured {
				display: block;
				width: 100%;
				margin: 0 0 2em 0;
			}
			
			.image.left {
				float: left;
				margin: 0 2em 2em 0;
			}
			
			.image.centered {
				display: block;
				margin: 0 0 2em 0;
			}
			/*
				.image.centered img {
					margin: 0 auto;
					width: auto;
				}
			*/

		/* ---------------------------
			Gallery Items */
	
		.item {
			box-shadow: 0 0.05em 0.15em 0 rgba(0,0,0,0.05);
			margin-bottom: 40px;
		}
		
			.item header {
				background: #fff;
				margin: 0;
				padding: 1em 0 1em 0;
				font-size: 0.8em;
			}

				.item header h3 {
					font-size: 1em;
				}


/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main {
		margin-left: 25%;
		padding: 1%;
		padding-top: 0;
		border: 0px solid red;
	}
	
		#main > section {
			margin: 0;
			margin-bottom: 2%;
			overflow: hidden;
			padding: 1em 5em;
			background-color: #fff;
			box-shadow: 1px 1px 1px 0px rgba(200,200,200,0.75);
			text-align: left;
			border: 0px solid green;
		}

		.sectWrap header h2 {
			font-size: 3em;
			line-height: 1em;
			color: rgba(51,51,51,0.75);
		}

			#main > section.dark {
				color: #ddd;
				background-color: #373F3F;
				/* color: rgba(255,255,255,0.75); #81918E*/
			}

				#main > section.dark h2, 
				#main > section.dark h3,
				#main > section.dark h4,
				#main > section.dark h5,
				#main > section.dark h6 {
					color: inherit;
				}

				#main > section.dark strong,
				#main > section.dark a {
					color: #fff;
					border-color: inherit;
				}

					#main > section.dark a:hover {
						border-bottom-color: rgba(255,255,255,0);
					}

			#main > section.cover {
				padding: 6em 3em;
				background-size: cover;
				background-position: center center;
			}
		

			#main > section.one {}

			#main > section.two {}
		
			#main > section.three {}
		
			#main > section.four {}



	/* Accordian */
		#accordion {
			margin-left: 5%;
		}

		.b 	{
		font-weight: 500;
		color: #666;
	}


	/* Button */
		
	/*
		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		.button {
			position: relative;
			display: inline-block;
			border-radius: 0.35em;
			color: #fff;
			font-weight: 300;
			text-decoration: none;
			padding: 0.75em 2.5em 0.75em 2.5em;
			background-color: #3dc1c1;
			border: 0;
			cursor: pointer;
			-moz-transition: background-color 0.35s ease-in-out;
			-webkit-transition: background-color 0.35s ease-in-out;
			-o-transition: background-color 0.35s ease-in-out;
			-ms-transition: background-color 0.35s ease-in-out;
			transition: background-color 0.35s ease-in-out;
		}

			input[type="button"]:hover,
			input[type="submit"]:hover,
			input[type="reset"]:hover,
			.button:hover {
				background-color: #1ee2d9;
			}
			
			input[type="button"]:active,
			input[type="submit"]:active,
			input[type="reset"]:active,
			.button:active {
				background-color: #ee4220;  /* @hc may be too much 
			} */

