@charset 'UTF-8';
@import 'base.css';
@import 'main.css';

/*********************************************************************************/
/* NOTES                                                                         */
/*********************************************************************************/


/*********************************************************************************/
/* Header (Left Panel in this design)                                            */
/*********************************************************************************/
	.clearfix:after {
  	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}


	#header {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 25%;
		color: #fff;
		font-weight: 300;
		background: #1ee2d9;
		box-shadow: 4px 4px 3px 0px rgba(200,200,200,0.75);
		text-align: center;
	}

		#header a:* {
			text-decoration: none;
		}

		/*		
		a:visited {}
		a:hover {}
		a:active {
		    text-decoration: underline;
		}
		*/
	
		#header .top {
			position: relative;
			display: block;
			left: 0;
			top: 0;
			width: 100%;
			padding: 0;
			margin-bottom: 5%;
			border: 0px solid red;
		}

		#header .bottom {
			position: relative;
			display: block;
			left: 0;
			bottom: 0;
			width: 100%;
			padding-top: 1em;
			padding-bottom: 5em;
			border-top: 2px solid rgba(255,255,255,0.25);
		}

	
		#header .icons {
			font-size: 0.8em;
			padding: 0;
			margin: 0;
			text-align: center;
			border: 0px solid grey;
		}
		
			#header .icons a {
				/*color: #41484c;*/
				color: rgba(255,255,255,0.5);
				float: left;
				margin: 0 auto;
				padding: 0 2em;
				/*border: 1px solid grey;*/
				-moz-transition: color 0.35s ease-in-out;
				-webkit-transition: color 0.35s ease-in-out;
				-o-transition: color 0.35s ease-in-out;
				-ms-transition: color 0.35s ease-in-out;
				transition: color 0.35s ease-in-out;
			}
			
				#header .icons a:hover {
					color: #fff;
				}
	

	#logo {
		position: relative;
		margin: 1.5em 1.5em 1.5em 1.5em;
		min-height: 48px;
		cursor: default;
	 }
	
		#logo h1 {
			position: relative;
			color: #fff;
			font-size: 3em;
			letter-spacing: 0.15em;
			font-weight: 400;
			margin: 0;
			text-align: center;
			border: 0px solid rgba(0,0,0,0.1);

		}
	
		#logo p {
			position: relative;
			display: block;
			font-size: 1em;
			color: #fff;
			line-height: 1.25em;
			margin: 0;
			border: 0px solid rgba(0,0,0,0.1);
		}

		#logoImg {
			width: 70%;
			/*margin-left: 10%;*/
			background-image: url(../_img/owlLogo.svg);
			background-repeat: no-repeat;
			border: 0px solid rgba(0,0,0,0.1);
		}

	
	#nav {
		text-align: center;
		font-size: 1.2em;
		margin-top: 5%;
		border: 0px solid grey;
	 }
	
		#nav ul {
			width: 100%;
			margin: 0;
			padding: 0;
			list-style: none;
		}
			
			#nav ul a {
				display: block;
				color: rgba(255,255,255,0.75);
				text-decoration: none;
				border: 0;
				/* text fade-in
				-moz-transition: none;
				-webkit-transition: none;
				-o-transition: none;
				-ms-transition: none;
				transition: none; */
			}

			#nav ul a:last-child {
				margin-bottom: 5%;
			}

				#nav ul a.active {
					background: rgba(0,0,0,0.05);
					box-shadow: inset 1px 1px 0.5em 1px rgba(50,50,50,0.125);
					color: #fff;
					font-weight: 300;
				}


				#nav ul a li {
					border: 1px solid white;
					padding: 3%;
					border: 0px solid rgba(0,0,0,0.1);	
				}

				



